<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li><i class="fa fa-home home-icon"></i> <a href="#">Home</a></li>
    <li><a href="#">...</a></li>
    <li><a href="#">...</a></li>
    <li class="active">...</li>
  </ul><!-- /.breadcrumb -->
<% end -%>
