<% content_for :page_header do %>
<h1>找买家</h1>
<% end %>
<div class="row">
  <div class="col-xs-8">
    <div class="form-group">
      <label for="industry_id" class="col-sm-1 control-label no-padding-left">行业</label>
      <%= select_tag(:industry_id,
      options_for_select([''] + @industries.map { |ind| [ind.name, ind.id] }),
      class: '',
      id: 'target_industry') %>
    </div>
    <%= render 'buyer_finder/target_attr_form' %>

    <div class="hr hr32 hr-dotted"></div>

    <div class="widget-box bargains">
      <div class="widget-header">
        <h4 class="widget-title smaller">参考的交易</h4>
      </div>
      <div class="widget-body">
        <div class="widget-main no-padding" id="reference_bargains_by_target_industry_container">
        </div>
      </div><!-- end widget-body -->
    </div><!-- end widget box -->
    <div class="hr hr32 hr-dotted" id="pre_attrs_widget"></div>
  </div>
  <div class="col-xs-4"></div>
</div>
