<% content_for :page_header do %>
<h1>找买家</h1>
<% end %>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label for="industry_id" class="col-sm-1 control-label no-padding-left">标的公司行业</label>
      <div id="industry_tree"></div>
    </div>
    <div class="form-group text-center">
      <button class="btn btn-success" id="target_industry_btn">确认</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <%= render 'buyer_finder/target_attr_form' %>

  </div>
  <div class="col-xs-8">
    <div class="widget-box bargains" id="buyer-finder-bargains">
      <div class="widget-header">
        <h4 class="widget-title smaller">参考的交易</h4>
      </div>
      <div class="widget-body">
        <div class="widget-main no-padding" id="reference_bargains_by_target_industry_container">
        </div>
      </div><!-- end widget-body -->
    </div><!-- end widget box -->
  </div>
</div>
<div class="hr hr32 hr-dotted" id="pre_attrs_widget"></div>
