<% if !@bargains.empty? %>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <!--
      <th class="center">
        <label class="position-relative">
          <input type="checkbox" class="ace">
          <span class="lbl"></span>
        </label>
      </th>
      -->
      <th>买家</th>
      <th>卖家</th>
      <th class="hidden-480">价格(万元)</th>

      <th>
        时间
      </th>
      <!--
      <th class="hidden-480">Status</th>

      <th></th>
      -->
    </tr>
  </thead>

  <tbody>
  <% @bargains.each do |bargain| %>
  <tr class="">
    <!--
    <td class="center">
      <label class="position-relative">
        <input type="checkbox" class="ace">
        <span class="lbl"></span>
      </label>
    </td>
    -->

    <td>
      <%= bargain.buyer.company_name %>
    </td>
    <td>
      <%= bargain.target.company_name %>
    </td>
    <td class="hidden-480">
      <%= bargain.bargain_value %>
    </td>
    <td>
      <%= bargain.sale_at %>
    </td>

    <!--
    <td class="hidden-480">
      <span class="label label-sm label-warning">Expiring</span>
    </td>

    <td>
      <div class="hidden-sm hidden-xs btn-group">
        <button class="btn btn-xs btn-success">
          <i class="ace-icon fa fa-check bigger-120"></i>
        </button>

        <button class="btn btn-xs btn-info">
          <i class="ace-icon fa fa-pencil bigger-120"></i>
        </button>

        <button class="btn btn-xs btn-danger">
          <i class="ace-icon fa fa-trash-o bigger-120"></i>
        </button>

        <button class="btn btn-xs btn-warning">
          <i class="ace-icon fa fa-flag bigger-120"></i>
        </button>
      </div>

      <div class="hidden-md hidden-lg">
        <div class="inline position-relative">
          <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
            <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
          </button>

          <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
            <li>
            <a href="#" class="tooltip-info" data-rel="tooltip" title="" data-original-title="View">
              <span class="blue">
                <i class="ace-icon fa fa-search-plus bigger-120"></i>
              </span>
            </a>
            </li>

            <li>
            <a href="#" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
              <span class="green">
                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
              </span>
            </a>
            </li>

            <li>
            <a href="#" class="tooltip-error" data-rel="tooltip" title="" data-original-title="Delete">
              <span class="red">
                <i class="ace-icon fa fa-trash-o bigger-120"></i>
              </span>
            </a>
            </li>
          </ul>
        </div>
      </div>
    </td>
    -->
  </tr>
  <% end -%>

  </tbody>
</table>
<% else %>
  <p>该行业没有参考的成交案例</p>
<% end %>
